.theme-container.homepage {
  .hero {
    img {
      object-fit: fill;
      margin: 100px 0 0 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
    }
  }
  .home {
    max-width: 80%;
    padding: 0;
  }
  .features {
    padding: 0.5rem 1rem;
  }
}
